/* RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0;
}
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/* RESET-CLOSE */
/* clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;

}
/* clearfix-CLOSE */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.float_right {
  float: right;
}



#background_wrapper {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom,#009688 20%,#d9dbd5 20%);
  padding:25px 0;
}

/* vue container */
#app {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;

}

#header_selected_chat, #form_instantchat,#header_navigation_app {
  background-color: #eaeaea;
}

#header_selected_chat, #header_navigation_app {
  height: 60px;
  width: 100%;
}

img.avatar {
  height: 40px;
  border-radius: 50%;

}
/* aside previews chat */
aside {
  width:38%;
  height: 100%;

}
#header_navigation_app {
  padding-left: 10px;
}
#btn_user, #user_info {
  display: inline-block;
}
#btn_user,#user_info {
  line-height: 60px;
}
#btn_user button,#user_info img {
  vertical-align: middle;
}
p#user_id {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  margin-left: 10px;
}
#btn_user button {
  margin: 0 8px;
  color: #b1b1b1;
}


#banner_notify {
  height: 68px;
  width: 100%;
  background-color: #8edafc;
}
#form_search {
  height: 34px;
  background-color:#fafafa;
}
#container_previews_chat {
  background-color: white;
  height: calc( 100% - 162px);
  overflow: auto;
}
#container_previews_chat ul {
  display: inline-block;
}
#container_previews_chat ul.previews li {
  list-style: none;
}
.previews_message {
  width: 200px;
  color: #b6c0d3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* aside previews chat-CLOSE */
/* select chat view */
#selected_chat_view {
  width:62%;
  height: 100%;
  background-color: blue;
}
#container_message {
  height: calc(100% - 110px);

  align-content: space-around;

  background-image: url(../img/background_chat.jpg);
  overflow: auto;
}
.sent_message, .recevied_message {
  font-size:15px;
  padding: 16px; /*stessi pixel del font*/
  border-radius: 10px;
  clear: both;
}
.sent_message {
  background-color: #d5f9ba;
  float:right;
}
.recevied_message {
  background: white;
  float: left;
}
#form_instantchat {
  height: 50px;
}

/* select chat view-CLOSE */
